In [ ]:
# Cargando las librerías por categoría
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# Generic
import os
import datetime
import itertools
import warnings
warnings.filterwarnings("ignore")

# visualization
import seaborn as sns
from scipy.stats import norm
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neural_network import MLPClassifier

## scikit modeling libraries
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier,
                             GradientBoostingClassifier, ExtraTreesClassifier,
                             VotingClassifier)

from sklearn.model_selection import (GridSearchCV, cross_val_score, cross_val_predict,
                                     StratifiedKFold, learning_curve)

## Load metrics for predictive modeling
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc


from sklearn.preprocessing import LabelEncoder

In [ ]:
#Librerías de resdes neuronales
from tensorflow import keras
from tensorflow.keras import models
from tensorflow.keras import layers

In [ ]:
#Cargamos los datos
ruta=("/content/Modelar_UH2020.txt")
df= pd.read_csv(ruta,sep = "|")

In [ ]:
df.tail()  #Tenemos 103229 filas

                    ID           X  ...  CADASTRALQUALITYID        CLASE
2424  36CDB8637CA160F0  2204094714  ...                   4  RESIDENTIAL
2425  DD57EB84C308B2C7  2242709284  ...                   5  RESIDENTIAL
2426  40A2403CF58BFCED  2249675189  ...                   4  RESIDENTIAL
2427  E80753DBF964295E  2240607343  ...                   8  RESIDENTIAL
2428  4901D316B9E6E37E  2216803667  ...                 NaN          NaN

[5 rows x 56 columns]

In [ ]:
df.shape #Tenemos 103230 filas

(2429, 56)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2429 entries, 0 to 2428
Data columns (total 56 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2429 non-null   object
 1   X                   2429 non-null   int64
 2   Y                   2429 non-null   int64
 3   Q_R_4_0_0           2429 non-null   float64
 4   Q_R_4_0_1           2429 non-null   float64
 5   Q_R_4_0_2           2429 non-null   float64
 6   Q_R_4_0_3           2429 non-null   float64
 7   Q_R_4_0_4           2429 non-null   float64
 8   Q_R_4_0_5           2429 non-null   float64
 9   Q_R_4_0_6           2429 non-null   float64
 10  Q_R_4_0_7           2429 non-null   float64
 11  Q_R_4_0_8           2429 non-null   float64
 12  Q_R_4_0_9           2429 non-null   float64
 13  Q_R_4_1_0           2429 non-null   float64
 14  Q_G_3_0_0           2429 non-null   float64
 15  Q_G_3_0_1           2429 non-null   float64
 16  Q_G_3_0_2           2429 non-null   float64
 17  Q_G_3_0_3           2429 non-null   float64
 18  Q_G_3_0_4           2429 non-null   float64
 19  Q_G_3_0_5           2429 non-null   float64
 20  Q_G_3_0_6           2428 non-null   float64
 21  Q_G_3_0_7           2428 non-null   float64
 22  Q_G_3_0_8           2428 non-null   float64
 23  Q_G_3_0_9           2428 non-null   float64
 24  Q_G_3_1_0           2428 non-null   float64
 25  Q_B_2_0_0           2428 non-null   float64
 26  Q_B_2_0_1           2428 non-null   float64
 27  Q_B_2_0_2           2428 non-null   float64
 28  Q_B_2_0_3           2428 non-null   float64
 29  Q_B_2_0_4           2428 non-null   float64
 30  Q_B_2_0_5           2428 non-null   float64
 31  Q_B_2_0_6           2428 non-null   float64
 32  Q_B_2_0_7           2428 non-null   float64
 33  Q_B_2_0_8           2428 non-null   float64
 34  Q_B_2_0_9           2428 non-null   float64
 35  Q_B_2_1_0           2428 non-null   float64
 36  Q_NIR_8_0_0         2428 non-null   float64
 37  Q_NIR_8_0_1         2428 non-null   float64
 38  Q_NIR_8_0_2         2428 non-null   float64
 39  Q_NIR_8_0_3         2428 non-null   float64
 40  Q_NIR_8_0_4         2428 non-null   float64
 41  Q_NIR_8_0_5         2428 non-null   float64
 42  Q_NIR_8_0_6         2428 non-null   float64
 43  Q_NIR_8_0_7         2428 non-null   float64
 44  Q_NIR_8_0_8         2428 non-null   float64
 45  Q_NIR_8_0_9         2428 non-null   float64
 46  Q_NIR_8_1_0         2428 non-null   float64
 47  AREA                2428 non-null   float64
 48  GEOM_R1             2428 non-null   float64
 49  GEOM_R2             2428 non-null   float64
 50  GEOM_R3             2428 non-null   float64
 51  GEOM_R4             2428 non-null   float64
 52  CONTRUCTIONYEAR     2428 non-null   float64
 53  MAXBUILDINGFLOOR    2428 non-null   float64
 54  CADASTRALQUALITYID  2428 non-null   object
 55  CLASE               2428 non-null   object
dtypes: float64(51), int64(2), object(3)
memory usage: 1.0+ MB

In [ ]:
df.isnull().sum()

ID                    0
X                     0
Y                     0
Q_R_4_0_0             0
Q_R_4_0_1             0
Q_R_4_0_2             0
Q_R_4_0_3             0
Q_R_4_0_4             0
Q_R_4_0_5             0
Q_R_4_0_6             0
Q_R_4_0_7             0
Q_R_4_0_8             0
Q_R_4_0_9             0
Q_R_4_1_0             0
Q_G_3_0_0             0
Q_G_3_0_1             0
Q_G_3_0_2             0
Q_G_3_0_3             0
Q_G_3_0_4             0
Q_G_3_0_5             0
Q_G_3_0_6             0
Q_G_3_0_7             0
Q_G_3_0_8             0
Q_G_3_0_9             0
Q_G_3_1_0             0
Q_B_2_0_0             0
Q_B_2_0_1             0
Q_B_2_0_2             0
Q_B_2_0_3             0
Q_B_2_0_4             0
Q_B_2_0_5             0
Q_B_2_0_6             0
Q_B_2_0_7             0
Q_B_2_0_8             0
Q_B_2_0_9             0
Q_B_2_1_0             0
Q_NIR_8_0_0           0
Q_NIR_8_0_1           0
Q_NIR_8_0_2           0
Q_NIR_8_0_3           0
Q_NIR_8_0_4           0
Q_NIR_8_0_5           0
Q_NIR_8_0_6           0
Q_NIR_8_0_7           0
Q_NIR_8_0_8           0
Q_NIR_8_0_9           0
Q_NIR_8_1_0           0
AREA                  0
GEOM_R1               0
GEOM_R2               0
GEOM_R3               0
GEOM_R4               0
CONTRUCTIONYEAR       0
MAXBUILDINGFLOOR      0
CADASTRALQUALITYID    0
CLASE                 0
dtype: int64

In [ ]:
#Eliminamos los nan
df.dropna(inplace=True)

In [ ]:
df.tail()

                      ID           X  ...  CADASTRALQUALITYID        CLASE
103225  C5FD596EB22DB167  2225843339  ...                   6  RESIDENTIAL
103226  A51D42F2EAB0E15E  2196745557  ...                   4  RESIDENTIAL
103227  9B75473FE6396523  2261090490  ...                   9   INDUSTRIAL
103228  3E566F8A461FDBA3  2219731066  ...                   5  RESIDENTIAL
103229  0E6F8A7388F1FF25  2260508805  ...                   5  RESIDENTIAL

[5 rows x 56 columns]

In [ ]:
df.CLASE.unique()

array(['RESIDENTIAL', 'INDUSTRIAL', 'PUBLIC', 'OFFICE', 'OTHER', 'RETAIL',
       'AGRICULTURE'], dtype=object)

In [ ]:
df.isnull().sum()

ID                    0
X                     0
Y                     0
Q_R_4_0_0             0
Q_R_4_0_1             0
Q_R_4_0_2             0
Q_R_4_0_3             0
Q_R_4_0_4             0
Q_R_4_0_5             0
Q_R_4_0_6             0
Q_R_4_0_7             0
Q_R_4_0_8             0
Q_R_4_0_9             0
Q_R_4_1_0             0
Q_G_3_0_0             0
Q_G_3_0_1             0
Q_G_3_0_2             0
Q_G_3_0_3             0
Q_G_3_0_4             0
Q_G_3_0_5             0
Q_G_3_0_6             0
Q_G_3_0_7             0
Q_G_3_0_8             0
Q_G_3_0_9             0
Q_G_3_1_0             0
Q_B_2_0_0             0
Q_B_2_0_1             0
Q_B_2_0_2             0
Q_B_2_0_3             0
Q_B_2_0_4             0
Q_B_2_0_5             0
Q_B_2_0_6             0
Q_B_2_0_7             0
Q_B_2_0_8             0
Q_B_2_0_9             0
Q_B_2_1_0             0
Q_NIR_8_0_0           0
Q_NIR_8_0_1           0
Q_NIR_8_0_2           0
Q_NIR_8_0_3           0
Q_NIR_8_0_4           0
Q_NIR_8_0_5           0
Q_NIR_8_0_6           0
Q_NIR_8_0_7           0
Q_NIR_8_0_8           0
Q_NIR_8_0_9           0
Q_NIR_8_1_0           0
AREA                  0
GEOM_R1               0
GEOM_R2               0
GEOM_R3               0
GEOM_R4               0
CONTRUCTIONYEAR       0
MAXBUILDINGFLOOR      0
CADASTRALQUALITYID    0
CLASE                 0
dtype: int64

###Label Encoder: It is used to transform non-numerical labels to numerical labels (or nominal categorical variables). Numerical labels are always between 0 and n_classes-1.

In [ ]:
number = LabelEncoder()

In [ ]:
df['CADASTRALQUALITYID'] = number.fit_transform(df['CADASTRALQUALITYID'].astype(str))

In [ ]:
df.head()

                 ID           X  ...  CADASTRALQUALITYID        CLASE
0  35984B9C3E7CD9A1  2207357872  ...                   1  RESIDENTIAL
1  F9D04BF6D037F8FB  2189757160  ...                   7  RESIDENTIAL
2  B89D5711AFF8C423  2240147335  ...                   4  RESIDENTIAL
3  1C3478AC1522E7E4  2227146459  ...                   1  RESIDENTIAL
4  4D12AA5009064345  2212350459  ...                   5  RESIDENTIAL

[5 rows x 56 columns]

In [ ]:
df_img.head()

   Q_R_4_0_0   Q_R_4_0_1   Q_R_4_0_2  ...         RGB8         RGB9        RGB10
0   0.000000  443.001300  616.001697  ...  1598.750348  1798.420612  7017.996209
1   0.000059  443.899011  627.999060  ...  1457.048737  1610.497366  5580.822409
2   0.000000  353.502274  523.003601  ...  1449.001541  1630.125534  4802.953344
3   0.000000  268.000613  376.999609  ...  1354.697757  1517.747464  4612.468927
4   0.000000  318.997910  492.003845  ...  1272.246994  1452.620850  5967.523627

[5 rows x 55 columns]

In [ ]:
selected_features = [
  'X','Y',                     
  'RGB1','RGB2','RGB3','RGB4','RGB5','RGB6','RGB7','RGB8','RGB9','RGB10',
  'AREA',
   
]

In [ ]:
X = df[selected_features]
y = df['CLASE']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20)

$$Uso de Neo-channels (para su uso con XGBoost)$$
$$Luminance$$
$$L = max(RGB) + min(RGB)/2$$
$$NDVI (Normalized Difference VEgetation Index)$$
$$NDVI = NIR- R/ NIR + R$$
$$ExG(Excess Green Index)$$
$$ExG = 2 * G -R -B/R+G+B$$
$$MNDWI (Modified Normalized Difference Water index)$$
$$MNDWI = G - NIR/G+NIR$$

In [ ]:
# Máximos
df['max_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].max(axis=1)
df['max_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].max(axis=1)
df['max_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].max(axis=1)
df['max_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].max(axis=1)
df['max_total_RGB']= df['max_red'] + df['max_green'] + df['max_blue']

In [ ]:
# Mínimos
df['min_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].min(axis=1)
df['min_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].min(axis=1)
df['min_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].min(axis=1)
df['min_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].min(axis=1)
df['min_total_RGB']= df['min_red'] + df['min_green'] + df['min_blue']

In [ ]:
# Medias
df['mean_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].mean(axis=1)
df['mean_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].mean(axis=1)
df['mean_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].mean(axis=1)
df['mean_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].mean(axis=1)

In [ ]:
# Suma
df['sum_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].sum(axis=1)
df['sum_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].sum(axis=1)
df['sum_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].sum(axis=1)
df['sum_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].sum(axis=1)
df['sum_total'] = df['sum_red'] + df['sum_green'] + df['sum_blue'] + df['sum_nir']

In [ ]:
df.head()

                 ID           X  ...       sum_nir     sum_total
0  35984B9C3E7CD9A1  2207357872  ...  28733.156114  69789.021961
1  F9D04BF6D037F8FB  2189757160  ...  23375.360996  61203.356828
2  B89D5711AFF8C423  2240147335  ...  23507.063236  56665.809954
3  1C3478AC1522E7E4  2227146459  ...  25178.853978  54159.646365
4  4D12AA5009064345  2212350459  ...  19484.239173  56642.575419

[5 rows x 75 columns]

In [ ]:
#Nuevo DF con las nuevas variables
df['Luminance']= (df['max_total_RGB'] + df['min_total_RGB'])/2
df['NDVI']= df['sum_nir']- df['sum_red']/df['sum_nir'] + df['sum_red']
df['ExG'] = 2 * df['sum_red']-df['sum_green']-df['sum_blue']/df['sum_green']+df['sum_red']+df['sum_blue']
df['MNDWI'] = df['sum_green'] - df['sum_nir']/ df['sum_green'] + df['sum_nir']

In [ ]:
df.head()

                 ID           X  ...           ExG         MNDWI
0  35984B9C3E7CD9A1  2207357872  ...  39428.173442  45762.567116
1  F9D04BF6D037F8FB  2189757160  ...  43418.989206  36419.549690
2  B89D5711AFF8C423  2240147335  ...  34740.283054  36153.433544
3  1C3478AC1522E7E4  2227146459  ...  30357.290470  36684.624386
4  4D12AA5009064345  2212350459  ...  40487.090987  33631.759780

[5 rows x 79 columns]

In [ ]:
#Creamos un nuevo dataframe que incluya las nuevas variables creadas
df_new = df.drop(['ID','GEOM_R1','GEOM_R2','GEOM_R3','GEOM_R4','CLASE','max_red', 'max_green','max_blue', 'max_nir','max_total_RGB', 'min_red', 'min_green', 'min_blue', 'min_nir',	'min_total_RGB', 'mean_red','mean_green', 'mean_blue', 	'mean_nir', 'sum_red', 'sum_green', 'sum_blue', 'sum_nir','sum_total'],axis=1)

In [ ]:
X_1=df_new
y_1=df['CLASE']

In [ ]:
#Separamos lso datos en train y test
X_train, X_test, y_train, y_test = train_test_split(
    X_1, y_1, test_size=0.20)

In [ ]:
#Aplicamos el clasificador de bosques aleatorios
clf = RandomForestClassifier(n_estimators=100, max_depth=8, random_state=13, max_features = 'auto').fit(X_train, y_train)
clf

RandomForestClassifier(max_depth=8, random_state=13)

In [ ]:
#Cálculos del score al aplicar random forest
clf.score(X_train,y_train)

0.895807092336014

In [ ]:
predicted_rf = clf.predict(X_test)
predicted_rf

array(['RESIDENTIAL', 'RESIDENTIAL', 'RESIDENTIAL', ..., 'RESIDENTIAL',
       'RESIDENTIAL', 'RESIDENTIAL'], dtype=object)

In [ ]:
print(classification_report(y_test, predicted_rf))

              precision    recall  f1-score   support

 AGRICULTURE       0.79      0.24      0.37        79
  INDUSTRIAL       0.76      0.44      0.56       902
      OFFICE       0.62      0.01      0.03       335
       OTHER       0.00      0.00      0.00       268
      PUBLIC       1.00      0.03      0.07       575
 RESIDENTIAL       0.90      1.00      0.95     18068
      RETAIL       0.00      0.00      0.00       415

    accuracy                           0.90     20642
   macro avg       0.58      0.25      0.28     20642
weighted avg       0.86      0.90      0.86     20642

In [ ]:
#Aplicación de SVM
SVM_Model = SVC()

In [ ]:
SVM_Model.fit(X_train, y_train)

SVC()

In [ ]:
predicted_svc = SVM_Model.predict(X_test)
predicted_svc

array(['RESIDENTIAL', 'RESIDENTIAL', 'RESIDENTIAL', ..., 'RESIDENTIAL',
       'RESIDENTIAL', 'RESIDENTIAL'], dtype=object)

In [ ]:
# Confidence score aplicado al y_test (SVM)
SVM_score = round(SVM_Model.score(X_train,y_train))

print(SVM_score)

print(classification_report(y_test, predicted_rf))

1
              precision    recall  f1-score   support

 AGRICULTURE       0.79      0.24      0.37        79
  INDUSTRIAL       0.76      0.44      0.56       902
      OFFICE       0.62      0.01      0.03       335
       OTHER       0.00      0.00      0.00       268
      PUBLIC       1.00      0.03      0.07       575
 RESIDENTIAL       0.90      1.00      0.95     18068
      RETAIL       0.00      0.00      0.00       415

    accuracy                           0.90     20642
   macro avg       0.58      0.25      0.28     20642
weighted avg       0.86      0.90      0.86     20642

CNN, Convolutiona Neural Networks

In [ ]:
df_nn = df.drop(['ID','X','Y','AREA','GEOM_R1','GEOM_R2','GEOM_R3','GEOM_R4','CONTRUCTIONYEAR','MAXBUILDINGFLOOR','CADASTRALQUALITYID'], axis=1)

In [ ]:
df_nn.head()

   Q_R_4_0_0   Q_R_4_0_1   Q_R_4_0_2  ...  Q_NIR_8_0_9   Q_NIR_8_1_0        CLASE
0   0.000000  443.001300  616.001697  ...  3180.000342  10951.926645  RESIDENTIAL
1   0.000059  443.899011  627.999060  ...  3012.991675   7048.367637  RESIDENTIAL
2   0.000000  353.502274  523.003601  ...  3088.000488   7013.073271  RESIDENTIAL
3   0.000000  268.000613  376.999609  ...  3349.986328   6216.880538  RESIDENTIAL
4   0.000000  318.997910  492.003845  ...  2315.991455   7092.767616  RESIDENTIAL

[5 rows x 45 columns]

In [ ]:
df_nn.size

109260

In [ ]:
df_nn.shape

(2428, 45)

In [ ]:
df_nn.columns

Index(['Q_R_4_0_0', 'Q_R_4_0_1', 'Q_R_4_0_2', 'Q_R_4_0_3', 'Q_R_4_0_4',
       'Q_R_4_0_5', 'Q_R_4_0_6', 'Q_R_4_0_7', 'Q_R_4_0_8', 'Q_R_4_0_9',
       'Q_R_4_1_0', 'Q_G_3_0_0', 'Q_G_3_0_1', 'Q_G_3_0_2', 'Q_G_3_0_3',
       'Q_G_3_0_4', 'Q_G_3_0_5', 'Q_G_3_0_6', 'Q_G_3_0_7', 'Q_G_3_0_8',
       'Q_G_3_0_9', 'Q_G_3_1_0', 'Q_B_2_0_0', 'Q_B_2_0_1', 'Q_B_2_0_2',
       'Q_B_2_0_3', 'Q_B_2_0_4', 'Q_B_2_0_5', 'Q_B_2_0_6', 'Q_B_2_0_7',
       'Q_B_2_0_8', 'Q_B_2_0_9', 'Q_B_2_1_0', 'Q_NIR_8_0_0', 'Q_NIR_8_0_1',
       'Q_NIR_8_0_2', 'Q_NIR_8_0_3', 'Q_NIR_8_0_4', 'Q_NIR_8_0_5',
       'Q_NIR_8_0_6', 'Q_NIR_8_0_7', 'Q_NIR_8_0_8', 'Q_NIR_8_0_9',
       'Q_NIR_8_1_0', 'CLASE'],
      dtype='object')

In [ ]:
#Convertimos el dataframe en un array
data = df
labels=data['CLASE']
features = data.iloc[:,1:44]  #Imput shape is (44,1)

In [ ]:
X_nn=features
y_nn=np.ravel(labels)
X_train, X_test, y_train, y_test = train_test_split(X_nn, y_nn, test_size=0.33, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train.shape

(1626, 43)

In [ ]:
from tensorflow.keras import datasets, layers, models
model = Sequential()
model.add(layers.Conv2D(32, (3, 3), activation='relu', input_shape=(None,1626,43)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (3, 3), activation='relu'))

In [ ]:
model.summary()

Model: "sequential_25"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_24 (Conv2D)          (None, None, 1624, 32)    12416

 max_pooling2d_21 (MaxPoolin  (None, None, 812, 32)    0
 g2D)

 conv2d_25 (Conv2D)          (None, None, 810, 64)     18496

 max_pooling2d_22 (MaxPoolin  (None, None, 405, 64)    0
 g2D)

 conv2d_26 (Conv2D)          (None, None, 403, 64)     36928

=================================================================
Total params: 67,840
Trainable params: 67,840
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.add(layers.Flatten())
model.add(layers.Dense(100, activation='relu'))
model.add(layers.Dense(10)) #Clases de salida

ValueError: ignored

In [ ]:
model.summary

In [ ]:
#Compilar y entrenar el modelo
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

history = model.fit(train_images, train_labels, epochs=10, 
                    validation_data=(test_images, test_labels))