In [28]:
# Cargando las librerías por categoría
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# Generic
import os
import datetime
import itertools
import warnings
warnings.filterwarnings("ignore")

# visualization
import seaborn as sns
from scipy.stats import norm
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neural_network import MLPClassifier

## scikit modeling libraries
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier,
                             GradientBoostingClassifier, ExtraTreesClassifier,
                             VotingClassifier)

from sklearn.model_selection import (GridSearchCV, cross_val_score, cross_val_predict,
                                     StratifiedKFold, learning_curve)

## Load metrics for predictive modeling
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc


from sklearn.preprocessing import LabelEncoder
import pickle

In [4]:
#Cargamos los datos ya tratados tras el EDA
ruta=("/content/Modelar_EDA.pkl")
df= pd.read_pickle(ruta)

In [5]:
df.shape

(36392, 56)

$$Uso de Neo-channels (para su uso con XGBoost)$$
$$Luminance$$
$$L = max(RGB) + min(RGB)/2$$
$$NDVI (Normalized Difference VEgetation Index)$$
$$NDVI = NIR- R/ NIR + R$$
$$ExG(Excess Green Index)$$
$$ExG = 2 * G -R -B/R+G+B$$
$$MNDWI (Modified Normalized Difference Water index)$$
$$MNDWI = G - NIR/G+NIR$$

In [9]:
# Máximos
df['max_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].max(axis=1)
df['max_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].max(axis=1)
df['max_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].max(axis=1)
df['max_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].max(axis=1)
df['max_total_RGB']= df['max_red'] + df['max_green'] + df['max_blue']

In [10]:
# Mínimos
df['min_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].min(axis=1)
df['min_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].min(axis=1)
df['min_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].min(axis=1)
df['min_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].min(axis=1)
df['min_total_RGB']= df['min_red'] + df['min_green'] + df['min_blue']

In [11]:
# Medias
df['mean_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].mean(axis=1)
df['mean_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].mean(axis=1)
df['mean_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].mean(axis=1)
df['mean_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].mean(axis=1)

In [12]:
# Suma
df['sum_red'] = df.loc[:, 'Q_R_4_0_0':'Q_R_4_1_0'].sum(axis=1)
df['sum_green'] = df.loc[:, 'Q_G_3_0_0':'Q_G_3_1_0'].sum(axis=1)
df['sum_blue'] = df.loc[:, 'Q_B_2_0_0':'Q_B_2_1_0'].sum(axis=1)
df['sum_nir'] = df.loc[:, 'Q_NIR_8_0_0':'Q_NIR_8_1_0'].sum(axis=1)
df['sum_total'] = df['sum_red'] + df['sum_green'] + df['sum_blue'] + df['sum_nir']

In [13]:
df.head()

                 ID           X  ...       sum_nir     sum_total
0  35984B9C3E7CD9A1  2207357872  ...  28733.156114  69789.021961
1  F9D04BF6D037F8FB  2189757160  ...  23375.360996  61203.356828
2  B89D5711AFF8C423  2240147335  ...  23507.063236  56665.809954
3  1C3478AC1522E7E4  2227146459  ...  25178.853978  54159.646365
4  4D12AA5009064345  2212350459  ...  19484.239173  56642.575419

[5 rows x 75 columns]

In [14]:
#Nuevo DF con las nuevas variables
df['Luminance']= (df['max_total_RGB'] + df['min_total_RGB'])/2
df['NDVI']= df['sum_nir']- df['sum_red']/df['sum_nir'] + df['sum_red']
df['ExG'] = 2 * df['sum_red']-df['sum_green']-df['sum_blue']/df['sum_green']+df['sum_red']+df['sum_blue']
df['MNDWI'] = df['sum_green'] - df['sum_nir']/ df['sum_green'] + df['sum_nir']

In [15]:
df.head()

                 ID           X  ...           ExG         MNDWI
0  35984B9C3E7CD9A1  2207357872  ...  39428.173442  45762.567116
1  F9D04BF6D037F8FB  2189757160  ...  43418.989206  36419.549690
2  B89D5711AFF8C423  2240147335  ...  34740.283054  36153.433544
3  1C3478AC1522E7E4  2227146459  ...  30357.290470  36684.624386
4  4D12AA5009064345  2212350459  ...  40487.090987  33631.759780

[5 rows x 79 columns]

In [16]:
#Creamos un nuevo dataframe que incluya las nuevas variables creadas
df_new = df.drop(['ID','GEOM_R1','GEOM_R2','GEOM_R3','GEOM_R4','CLASE','max_red', 'max_green','max_blue', 'max_nir','max_total_RGB', 'min_red', 'min_green', 'min_blue', 'min_nir',	'min_total_RGB', 'mean_red','mean_green', 'mean_blue', 	'mean_nir', 'sum_red', 'sum_green', 'sum_blue', 'sum_nir','sum_total'],axis=1)

In [17]:
X_1=df_new
y_1=df['CLASE']

In [18]:
#Separamos lso datos en train y test
X_train, X_test, y_train, y_test = train_test_split(
    X_1, y_1, test_size=0.20)

In [19]:
#Aplicamos el clasificador de bosques aleatorios
clf = RandomForestClassifier(n_estimators=100, max_depth=8, random_state=13, max_features = 'auto').fit(X_train, y_train)
clf

RandomForestClassifier(max_depth=8, random_state=13)

In [20]:
#Cálculos del score al aplicar random forest
clf.score(X_train,y_train)

0.898739394772095

In [21]:
predicted_rf = clf.predict(X_test)
predicted_rf

array([5, 5, 5, ..., 5, 5, 5])

In [22]:
print(classification_report(y_test, predicted_rf))

              precision    recall  f1-score   support

           0       0.88      0.24      0.38        29
           1       0.75      0.46      0.57       312
           2       0.50      0.03      0.06       134
           3       0.00      0.00      0.00        97
           4       0.82      0.04      0.08       207
           5       0.90      1.00      0.95      6345
           6       0.00      0.00      0.00       155

    accuracy                           0.89      7279
   macro avg       0.55      0.25      0.29      7279
weighted avg       0.85      0.89      0.85      7279

In [23]:
#Aplicación de SVM
SVM_Model = SVC()

In [24]:
SVM_Model.fit(X_train, y_train)

SVC()

In [25]:
predicted_svc = SVM_Model.predict(X_test)
predicted_svc

array([5, 5, 5, ..., 5, 5, 5])

In [26]:
# Confidence score aplicado al y_test (SVM)
SVM_score = round(SVM_Model.score(X_train,y_train))

print(SVM_score)

print(classification_report(y_test, predicted_rf))

1
              precision    recall  f1-score   support

           0       0.88      0.24      0.38        29
           1       0.75      0.46      0.57       312
           2       0.50      0.03      0.06       134
           3       0.00      0.00      0.00        97
           4       0.82      0.04      0.08       207
           5       0.90      1.00      0.95      6345
           6       0.00      0.00      0.00       155

    accuracy                           0.89      7279
   macro avg       0.55      0.25      0.29      7279
weighted avg       0.85      0.89      0.85      7279

In [30]:
#Guardamos el modelo de random forest en formato pickle
pickle.dump(clf, open('model_img.pkl', 'wb'))